{% extends 'base.html' %}

{% block head %}	
{% endblock %}

{% block section %}
<div class="tbl">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Long URL</th>
                <th scope="col">Short URL</th>
                <th scope="col">Visits</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <tr>
                    <td id="empty-entry" colspan="3" style="padding-left: 50%;"><p>No Records Found.</p></td>
                    <!-- <td style="padding-left: 50%;"></td>
                    <td style="padding-left: 50%;"></td>
                    <td style="padding-left: 50%;"></td> -->
                </tr>       
        </tbody>
    </table>
    </div>
{% endblock %}